/* Denna fil skall innehålla din CSS kod */
body {background-color: rosybrown
    
    ;}
    #Ru1 {background-color: slategray;
        block-size: 80px;
        color: royalblue;
        font-family: Tahoma;

    }

    .text1 {
background-color: slateblue;
font-family: impact; 


    }