/* Denna fil skall innehålla din CSS kod */
body {background-color: rosybrown
    
    ;}
    #Ru1 {background-color: slategray;
        block-size: 80px;
        color: royalblue;
        font-family: Tahoma;

    }

    .text1 {
background-color: slateblue;
font-family: impact; 


    }

    span {

        background-color: skyblue;
        
        
        }
        
        h2 {width: 75%;
            height: 200px;
        background-color: rgba(255, 00, 00, 0.4);
        border: solid 10px grey;
        border: inset 10px black;
        
        }
        
        .blockis {
            background: hotpink;
            width: 50%;
        }

#container {
    height: 50vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 2fr auto 5fr;
    background: cadetblue;
    grid-template-areas: 
    " hd hd "
    " mn as " 
    " ft ft ";

}


    header { 
        background: aquamarine;
        grid-area: hd;
    
    }
    main {
grid-area: mn;
        background: brown;
        overflow: scroll;
    }

    aside {
        grid-area: as;
    
    background: blueviolet;
    }

    footer {
grid-area: ft;
background: aqua;
    }